/*/target/*
*.class
*.lock
*.DS_Store
*.swp
*.out
target/
*.iml
*.ipr
*.iws
*.bak
.settings/
.classpath
.project
.metadata/
.idea/
*.log
*.lnk
.eclipse/
.DS_Store
node_modules/
dist/
mochawesome-report/
npm-debug.log
test/unit/coverage
test/e2e/reports
selenium-debug.log
.history
.vscode
